Repository gioe/iq-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, swiftlint, swiftformat

.pre-commit-config.yaml:

repos:
  # General file checks (apply to all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  # ============================================
  # Backend Python Hooks
  # ============================================

  # Black code formatting (backend only)
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        name: black (backend)
        files: ^backend/.*\.py$

  # Flake8 linting (backend only)
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 (backend)
        files: ^backend/.*\.py$
        additional_dependencies: [flake8-docstrings]
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503,E501,D100,D101,D102,D103,D104,D105,D200,D202,D204,D205,D400,D401',
          '--per-file-ignores=__init__.py:F401'
        ]
        exclude: ^backend/alembic/

  # MyPy type checking (backend only)
  - repo: local
    hooks:
      - id: mypy-backend
        name: mypy (backend)
        entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # ============================================
  # Question Service Python Hooks
  # ============================================

  # Black code formatting (question-service only)
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        name: black (question-service)
        files: ^question-service/.*\.py$

  # Flake8 linting (question-service only)
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 (question-service)
        files: ^question-service/.*\.py$
        additional_dependencies: [flake8-docstrings]
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503,E501,D100,D101,D102,D103,D104,D105,D200,D202,D204,D205,D400,D401',
          '--per-file-ignores=__init__.py:F401'
        ]

  # MyPy type checking (question-service only)
  - repo: local
    hooks:
      - id: mypy-question-service
        name: mypy (question-service)
        entry: bash -c 'cd question-service && source venv/bin/activate && mypy src/ --config-file=pyproject.toml'
        language: system
        files: ^question-service/.*\.py$
        pass_filenames: false

  # ============================================
  # iOS Swift Hooks
  # ============================================

  # SwiftLint (iOS only)
  - repo: local
    hooks:
      - id: swiftlint
        name: SwiftLint
        entry: swiftlint lint --strict --config ios/.swiftlint.yml
        language: system
        files: ^ios/.*\.swift$
        types: [file, swift]

  # SwiftFormat (iOS only)
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: swiftformat --config ios/.swiftformat
        language: system
        files: ^ios/.*\.swift$
        types: [file, swift]

[P7-003] Build notification scheduling logic (6-month cadence)
  PLAN.md
  backend/app/core/config.py
  backend/app/services/__init__.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_notification_scheduler.py
Due: mypy-backend

[P7-003] Build notification scheduling logic (6-month cadence) (#73)
  PLAN.md
  backend/app/core/config.py
  backend/app/services/__init__.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_notification_scheduler.py
Due: mypy-backend

[P7-004] Integrate APNs service with notification scheduler
  backend/app/services/notification_scheduler.py
Due: mypy-backend

[P7-004] Update PLAN.md - mark P7-004 complete
  PLAN.md
Due: none

[P7-005] Create notification service
  ios/IQTracker/Services/Notifications/NotificationService.swift
Due: swiftlint, swiftformat

[P7-005] Update AppDelegate with notification handling
  ios/IQTracker/AppDelegate.swift
Due: swiftlint, swiftformat

[P7-005] Add NotificationService to Xcode project
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Services/Auth/NotificationService.swift
Due: swiftlint, swiftformat

[P7-005] Update PLAN.md - mark P7-005 complete
  PLAN.md
Due: none

[P7-005] Add notification handling in iOS app (#75)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/AppDelegate.swift
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/Services/Auth/NotificationService.swift
Due: swiftlint, swiftformat

[P7-006] Add reusable Xcode file management script
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/ViewModels/NotificationSettingsViewModel.swift
  ios/IQTracker/Views/Settings/NotificationSettingsView.swift
  ios/IQTracker/Views/Settings/SettingsView.swift
  ios/scripts/README.md
  ios/scripts/add_files_to_xcode.rb
Due: swiftlint, swiftformat

Feature/p7 006 notification preferences UI (#76)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/ViewModels/NotificationSettingsViewModel.swift
  ios/IQTracker/Views/Settings/NotificationSettingsView.swift
  ios/IQTracker/Views/Settings/SettingsView.swift
  ios/scripts/README.md
  ios/scripts/add_files_to_xcode.rb
Due: swiftlint, swiftformat

[P7-008] Handle notification permissions and edge cases
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/AppDelegate.swift
  ios/IQTracker/Services/Auth/AuthManager.swift
  ios/IQTracker/Services/Auth/NotificationManager.swift
  ios/IQTracker/ViewModels/NotificationSettingsViewModel.swift
Due: swiftlint, swiftformat

Feature/p7 008 notification permissions (#77)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/AppDelegate.swift
  ios/IQTracker/Services/Auth/AuthManager.swift
  ios/IQTracker/Services/Auth/NotificationManager.swift
  ios/IQTracker/ViewModels/NotificationSettingsViewModel.swift
Due: swiftlint, swiftformat

[P7-007] Add comprehensive notification testing infrastructure
  backend/tests/test_notification_integration.py
  ios/TestNotifications/README.md
  ios/TestNotifications/test_notifications.sh
  ios/TestNotifications/test_reminder.apns
  ios/TestNotifications/test_reminder_no_sound.apns
  ios/TestNotifications/test_reminder_simple.apns
Due: mypy-backend

[P7-007] Test notification delivery end-to-end (#79)
  PLAN.md
  backend/tests/test_notification_integration.py
  ios/TestNotifications/README.md
  ios/TestNotifications/test_notifications.sh
  ios/TestNotifications/test_reminder.apns
  ios/TestNotifications/test_reminder_no_sound.apns
  ios/TestNotifications/test_reminder_simple.apns
Due: mypy-backend

Fix JSON parsing and metrics tracking in question generation
  question-service/app/__init__.py
  question-service/app/arbiter.py
  question-service/app/generator.py
  question-service/app/providers/anthropic_provider.py
  question-service/config/arbiters.yaml
  question-service/run_generation.py
Due: mypy-question-service

Add xAI (Grok) provider support for question generation
  question-service/.env.example
  question-service/app/arbiter.py
  question-service/app/arbiter_config.py
  question-service/app/config.py
  question-service/app/generator.py
  question-service/app/pipeline.py
  question-service/app/providers/__init__.py
  question-service/app/providers/xai_provider.py
  question-service/config/arbiters.yaml
  question-service/run_generation.py
Due: mypy-question-service

Feature/p7 007 test notification delivery (#80)
  PLAN.md
  question-service/.env.example
  question-service/app/__init__.py
  question-service/app/arbiter.py
  question-service/app/arbiter_config.py
  question-service/app/config.py
  question-service/app/generator.py
  question-service/app/pipeline.py
  question-service/app/providers/__init__.py
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/xai_provider.py
  question-service/config/arbiters.yaml
  question-service/run_generation.py
Due: mypy-question-service

[P8-001] Create comprehensive end-to-end test plan
  E2E_TEST_PLAN.md
Due: none

[P8-001] Update E2E test tracking - complete authentication tests (1.1-1.4)
  E2E_TEST_PLAN.md
Due: none

[P8-001] Complete E2E-2.4: Implement 6-month test cadence enforcement
  E2E_TEST_PLAN.md
  backend/app/api/v1/test.py
  backend/tests/conftest.py
  backend/tests/test_test_sessions.py
Due: mypy-backend

[P8-001] Fix 3 failing tests due to 6-month cadence enforcement
  backend/tests/test_questions.py
  backend/tests/test_responses.py
  backend/tests/test_test_results.py
Due: mypy-backend

[P8-001] Create comprehensive E2E test plan and implement test cadence enforcement (#81)
  E2E_TEST_PLAN.md
  backend/app/api/v1/test.py
  backend/app/schemas/questions.py
  backend/tests/conftest.py
  backend/tests/test_questions.py
  backend/tests/test_responses.py
  backend/tests/test_test_results.py
  backend/tests/test_test_sessions.py
Due: mypy-backend

[P8-001] Complete E2E-5: Question Generation Service testing
  E2E_TEST_PLAN.md
Due: none

[P8-001] Add comprehensive E2E testing summary
  E2E_TEST_SUMMARY.md
Due: none

[P8-004] Optimize iOS view rendering and performance
  ios/IQTracker/Models/Question.swift
  ios/IQTracker/Models/TestSession.swift
  ios/IQTracker/Models/User.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTracker/Views/History/IQTrendChart.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[P8-004] Update PLAN.md - mark P8-003 and P8-004 complete
  PLAN.md
Due: none

[P8-005] Update PLAN.md - mark P8-005 complete
  PLAN.md
Due: none

[P8-005] Security Audit & Critical Security Fixes (#85)
  PLAN.md
  SECURITY_AUDIT.md
  backend/.env.example
  backend/app/api/v1/auth.py
  backend/app/core/config.py
  backend/app/core/security.py
  ios/IQTracker/Services/Storage/KeychainStorage.swift
Due: mypy-backend, swiftlint, swiftformat

[P8-006] Add comprehensive logging and analytics tracking to backend
  backend/app/api/v1/auth.py
  backend/app/api/v1/test.py
  backend/app/core/analytics.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/performance.py
  backend/app/middleware/request_logging.py
Due: mypy-backend

[P8-006] Update PLAN.md - mark P8-006 complete
  PLAN.md
Due: none

[P8-006] Add AnalyticsService.swift to Xcode project
  ios/IQTracker.xcodeproj/project.pbxproj
Due: none

[P8-006] Fix string interpolation in AnalyticsService
  ios/IQTracker/Services/Analytics/AnalyticsService.swift
Due: swiftlint, swiftformat

[P8-006] Add Comprehensive Analytics and Logging for Monitoring (#87)
  PLAN.md
  backend/app/api/v1/auth.py
  backend/app/api/v1/test.py
  backend/app/core/analytics.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/performance.py
  backend/app/middleware/request_logging.py
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/Services/Analytics/AnalyticsService.swift
  ios/IQTracker/Services/Auth/AuthManager.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
Due: mypy-backend, swiftlint, swiftformat

[P8-008] Add VoiceOver accessibility to CustomTextField and PrimaryButton
  ios/IQTracker/Views/Common/CustomTextField.swift
  ios/IQTracker/Views/Common/PrimaryButton.swift
Due: swiftlint, swiftformat

[P8-008] Fix accessibility traits - remove invalid isNotEnabled
  ios/IQTracker/Views/Common/PrimaryButton.swift
Due: swiftlint, swiftformat

[P8-009] Add centralized design system (ColorPalette, DesignSystem, Typography)
  ios/IQTracker/Utilities/Design/ColorPalette.swift
  ios/IQTracker/Utilities/Design/DesignSystem.swift
  ios/IQTracker/Utilities/Design/Typography.swift
Due: swiftlint, swiftformat

[P8-009] Update DashboardView to use design system
  ios/IQTracker/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[P8-009] Update TestResultsView to use design system
  ios/IQTracker/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

[P8-009] Update WelcomeView to use design system
  ios/IQTracker/Views/Auth/WelcomeView.swift
Due: swiftlint, swiftformat
