Repository gioe/iq-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, swiftlint, swiftformat

.pre-commit-config.yaml:

repos:
  # General file checks (apply to all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  # ============================================
  # Backend Python Hooks
  # ============================================

  # Black code formatting (backend only)
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        name: black (backend)
        files: ^backend/.*\.py$

  # Flake8 linting (backend only)
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 (backend)
        files: ^backend/.*\.py$
        additional_dependencies: [flake8-docstrings]
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503,E501,D100,D101,D102,D103,D104,D105,D200,D202,D204,D205,D400,D401',
          '--per-file-ignores=__init__.py:F401'
        ]
        exclude: ^backend/alembic/

  # MyPy type checking (backend only)
  - repo: local
    hooks:
      - id: mypy-backend
        name: mypy (backend)
        entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # ============================================
  # Question Service Python Hooks
  # ============================================

  # Black code formatting (question-service only)
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        name: black (question-service)
        files: ^question-service/.*\.py$

  # Flake8 linting (question-service only)
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 (question-service)
        files: ^question-service/.*\.py$
        additional_dependencies: [flake8-docstrings]
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503,E501,D100,D101,D102,D103,D104,D105,D200,D202,D204,D205,D400,D401',
          '--per-file-ignores=__init__.py:F401'
        ]

  # MyPy type checking (question-service only)
  - repo: local
    hooks:
      - id: mypy-question-service
        name: mypy (question-service)
        entry: bash -c 'cd question-service && source venv/bin/activate && mypy src/ --config-file=pyproject.toml'
        language: system
        files: ^question-service/.*\.py$
        pass_filenames: false

  # ============================================
  # iOS Swift Hooks
  # ============================================

  # SwiftLint (iOS only)
  - repo: local
    hooks:
      - id: swiftlint
        name: SwiftLint
        entry: swiftlint lint --strict --config ios/.swiftlint.yml
        language: system
        files: ^ios/.*\.swift$
        types: [file, swift]

  # SwiftFormat (iOS only)
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: swiftformat --config ios/.swiftformat
        language: system
        files: ^ios/.*\.swift$
        types: [file, swift]

[P8-009] Update common components to use design system
  ios/IQTracker/Views/Common/EmptyStateView.swift
  ios/IQTracker/Views/Common/PrimaryButton.swift
Due: swiftlint, swiftformat

[P8-009] Update PLAN.md - mark P8-009 complete
  PLAN.md
Due: none

Feature/p8 009 UI ux polish (#90)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Utilities/Design/ColorPalette.swift
  ios/IQTracker/Utilities/Design/DesignSystem.swift
  ios/IQTracker/Utilities/Design/Typography.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
  ios/IQTracker/Views/Common/EmptyStateView.swift
  ios/IQTracker/Views/Common/PrimaryButton.swift
  ios/IQTracker/Views/Dashboard/DashboardView.swift
  ios/IQTracker/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

Feature/p8 009 UI ux polish (#91)
  CLAUDE.md
  PLAN.md
  README.md
  ios/README.md
Due: none

[P9-001] Add AWS cloud infrastructure and deployment configuration
  backend/.dockerignore
  backend/Dockerfile
  deployment/README.md
  deployment/scripts/build-and-push.sh
  deployment/scripts/deploy.sh
  deployment/terraform/.gitignore
  deployment/terraform/main.tf
  deployment/terraform/outputs.tf
  deployment/terraform/terraform.tfvars.example
  deployment/terraform/variables.tf
  docker-compose.yml
  question-service/.dockerignore
  question-service/Dockerfile
Due: none

[P9-001] Update PLAN.md - mark P9-001 complete
  PLAN.md
Due: none

[P9-001] Add AWS cloud infrastructure and deployment configuration (#92)
  PLAN.md
  backend/.dockerignore
  backend/Dockerfile
  deployment/README.md
  deployment/scripts/build-and-push.sh
  deployment/scripts/deploy.sh
  deployment/terraform/.gitignore
  deployment/terraform/main.tf
  deployment/terraform/outputs.tf
  deployment/terraform/terraform.tfvars.example
  deployment/terraform/variables.tf
  docker-compose.yml
  question-service/.dockerignore
  question-service/Dockerfile
Due: none

Add toggleable admin dashboard with SQLAdmin
  backend/.env.example
  backend/app/admin/__init__.py
  backend/app/admin/auth.py
  backend/app/admin/views.py
  backend/app/core/config.py
  backend/app/main.py
  backend/requirements.txt
Due: mypy-backend

Add toggleable admin dashboard with SQLAdmin (#93)
  backend/.env.example
  backend/app/admin/__init__.py
  backend/app/admin/auth.py
  backend/app/admin/views.py
  backend/app/core/config.py
  backend/app/main.py
  backend/requirements.txt
Due: mypy-backend

IQ Methodology Research and Implementation Roadmap (#94)
  IQ_METHODOLOGY_DIVERGENCE_ANALYSIS.txt
  IQ_TEST_RESEARCH_FINDINGS.txt
  PLAN.md
Due: none

[P11] Update PLAN.md - mark P11-001, P11-002, P11-003 complete
  PLAN.md
Due: none

[P11] Update PLAN.md - mark P11-004, P11-005, P11-006 complete
  PLAN.md
Due: none

[P11-007] Add question performance statistics fields
  PLAN.md
  backend/alembic/versions/88562b225bce_add_question_performance_statistics_.py
  backend/app/models/models.py
Due: mypy-backend

[P11-011] Add disclaimers to iOS app views
  ios/IQTracker/Views/Auth/RegistrationView.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
  ios/IQTracker/Views/Dashboard/DashboardView.swift
  ios/IQTracker/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

[FIX] Refactor: Move select_stratified_questions to separate module
  backend/app/api/v1/test.py
  backend/app/core/test_composition.py
Due: mypy-backend

Fix iOS build errors for percentile field
  ios/IQTracker/Models/TestResult.swift
  ios/IQTracker/Views/History/IQTrendChart.swift
  ios/IQTracker/Views/History/InsightsCardView.swift
  ios/IQTracker/Views/History/TestDetailView.swift
Due: swiftlint, swiftformat

[P11-012] Fix iOS build by extracting PercentileCard to extension
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Test/TestResultsView+PercentileCard.swift
  ios/IQTracker/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

Update notification messages from 6 months to 3 months
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
Due: mypy-backend

Update API error message from 6 months to 3 months
  backend/app/api/v1/test.py
Due: mypy-backend

Update API documentation to reflect 3-month testing cadence
  backend/app/main.py
Due: mypy-backend

Update iOS app and documentation to reflect 3-month testing cadence
  ios/APNS_SETUP.md
  ios/IQTracker/Views/Settings/SettingsView.swift
  ios/TestNotifications/README.md
  question-service/OPERATIONS.md
  question-service/docs/SCHEDULING.md
Due: swiftlint, swiftformat

Feature/update testing cadence 3 months (#100)
  CLAUDE.md
  PLAN.md
  backend/app/api/v1/test.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_test_sessions.py
  ios/APNS_SETUP.md
  ios/IQTracker/Views/Settings/SettingsView.swift
  ios/TestNotifications/README.md
  question-service/OPERATIONS.md
  question-service/docs/SCHEDULING.md
Due: mypy-backend, swiftlint, swiftformat

Enhance LLM prompts with comprehensive IQ testing context
  question-service/app/prompts.py
Due: mypy-question-service

Add prompt_version tracking to questions
  backend/alembic/versions/d86e6798032c_add_prompt_version_to_questions_table.py
  backend/app/models/models.py
  question-service/app/database.py
Due: mypy-backend, mypy-question-service

Fix critical bug: Save arbiter scores to database
  question-service/run_generation.py
Due: mypy-question-service

Fix CI failures: SwiftLint and Black formatting
  ios/IQTrackerTests/Integration/APIClientIntegrationTests.swift
  ios/IQTrackerTests/Integration/APIClientTestModels.swift
  ios/IQTrackerTests/Integration/MockURLProtocol.swift
  question-service/test_alerts.py
Due: mypy-question-service, swiftlint, swiftformat

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Workflow (#104)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Add Railway deployment configuration
  .env.railway.template
  RAILWAY_DEPLOYMENT.md
  backend/requirements.txt
  railway-cron.json
  railway.json
Due: none

Fix CORS security issue in Railway template
  .env.railway.template
Due: none

Add Procfile for Railway deployment
  backend/Procfile
Due: none

Inline all commands in Procfile to avoid script permission issues
  backend/Procfile
Due: none

Fix Railway deployment issues for backend and question-service
  .claude/commands/start-backend.md
  .claude/commands/start-question-service.md
  .claude/commands/stop-backend.md
  .claude/commands/test-all.md
  .claude/commands/test-backend.md
  .claude/commands/test-ios.md
  RAILWAY_DEPLOYMENT.md
  backend/Dockerfile
  backend/Procfile
  ios/IQTracker.xcodeproj/project.xcworkspace/xcuserdata/mattgioe.xcuserdatad/UserInterfaceState.xcuserstate
  question-service/Dockerfile
  railway.json
Due: none

Configure iOS app to use Railway production backend
  SERVICES.md
  ios/AIQ/Utilities/Helpers/AppConfig.swift
Due: swiftlint, swiftformat

Fix MyPy type errors in heartbeat function
  question-service/run_generation.py
Due: mypy-question-service

Add admin endpoint to manually trigger question generation
  backend/.env.example
  backend/app/api/v1/admin.py
  backend/app/api/v1/api.py
  backend/app/core/config.py
  backend/requirements.txt
Due: mypy-backend

Add /generate-questions slash command
  .claude/commands/generate-questions.md
Due: none

Fix httpx compatibility: upgrade openai SDK to 1.55.3
  question-service/requirements.txt
Due: none
