Repository gioe/iq-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy src/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[P5-005] Implement insights/analytics display
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/PerformanceInsights.swift
  ios/IQTracker/ViewModels/HistoryViewModel.swift
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/InsightsCardView.swift
Due: swiftlint, swiftformat

[P5-005] Implement insights/analytics display (#53)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/PerformanceInsights.swift
  ios/IQTracker/ViewModels/HistoryViewModel.swift
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/InsightsCardView.swift
Due: swiftlint, swiftformat

Add atomic commit strategy to CLAUDE.md
  CLAUDE.md
Due: none

[P5-006] Add EmptyStateView to Xcode project
  ios/IQTracker.xcodeproj/project.pbxproj
Due: none

[P5-006] Update DashboardView with actionable empty state
  ios/IQTracker/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[P5-006] Fix EmptyStateView file reference in Xcode project
  ios/IQTracker.xcodeproj/project.pbxproj
Due: none

[P5-006] Update PLAN.md - mark P5-006 complete
  PLAN.md
Due: none

[P5-006] Update HistoryView to use EmptyStateView component
  ios/IQTracker/Views/History/HistoryView.swift
Due: swiftlint, swiftformat

Feature/p5 006 empty states (#55)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Common/EmptyStateView.swift
  ios/IQTracker/Views/Dashboard/DashboardView.swift
  ios/IQTracker/Views/History/HistoryView.swift
Due: swiftlint, swiftformat

[P5-007] Update DashboardView with data display and refresh
  ios/IQTracker/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[P5-008] Optimize chart rendering for large datasets
  ios/IQTracker/Views/History/IQTrendChart.swift
Due: swiftlint, swiftformat

[P5-008] Add memoization for PerformanceInsights calculations
  ios/IQTracker/Models/PerformanceInsights.swift
  ios/IQTracker/ViewModels/HistoryViewModel.swift
Due: swiftlint, swiftformat

[P5-008] Fix Xcode project file for DataCache
  ios/IQTracker.xcodeproj/project.pbxproj
Due: none

[P6-001] Update PLAN.md - mark P6-001 complete
  PLAN.md
Due: none

[P6-004] Add arbiter configuration YAML file
  question-service/config/arbiters.yaml
Due: none

[P6-004] Add comprehensive tests for arbiter configuration
  question-service/tests/test_arbiter_config.py
Due: mypy-question-service

[P6-004] Add documentation and example for arbiter config
  question-service/README.md
  question-service/config/README.md
  question-service/examples/arbiter_config_example.py
Due: mypy-question-service

[P6-005] Add comprehensive tests for question generation
  question-service/tests/test_generator.py
  question-service/tests/test_models.py
  question-service/tests/test_pipeline.py
  question-service/tests/test_prompts.py
Due: mypy-question-service

[P6-004 & P6-005] Arbiter configuration and question generation pipeline (#62)
  PLAN.md
  question-service/app/generator.py
  question-service/app/models.py
  question-service/app/pipeline.py
  question-service/app/prompts.py
  question-service/tests/test_generator.py
  question-service/tests/test_models.py
  question-service/tests/test_pipeline.py
  question-service/tests/test_prompts.py
Due: mypy-question-service

[P6-006] Build arbiter evaluation logic
  question-service/app/arbiter.py
  question-service/tests/test_arbiter.py
Due: mypy-question-service

[P6-006] Update PLAN.md - mark P6-006 complete
  PLAN.md
Due: none

[P6-007] Implement deduplication checking
  question-service/app/deduplicator.py
  question-service/requirements.txt
  question-service/tests/test_deduplicator.py
Due: mypy-question-service

Remove duplicate task for building arbiter evaluation logic
  PLAN.md
Due: none

Feature/p6 007 deduplication (#64)
  PLAN.md
  question-service/app/deduplicator.py
  question-service/requirements.txt
  question-service/tests/test_deduplicator.py
Due: mypy-question-service

[P6-008] Fix linting and type checking issues
  question-service/app/database.py
  question-service/tests/test_database.py
Due: mypy-question-service

[P6-008] Update PLAN.md - mark P6-008 complete
  PLAN.md
Due: none

Feature/p6 008 database insertion (#65)
  PLAN.md
  question-service/app/database.py
  question-service/tests/test_database.py
Due: mypy-question-service

[P6-009] Add logging and monitoring for question service
  question-service/app/config.py
  question-service/app/logging_config.py
  question-service/app/metrics.py
  question-service/tests/test_logging_config.py
  question-service/tests/test_metrics.py
Due: mypy-question-service

[P6-009] Add logging and monitoring (#67)
  PLAN.md
  question-service/app/config.py
  question-service/app/logging_config.py
  question-service/app/metrics.py
  question-service/tests/test_logging_config.py
  question-service/tests/test_metrics.py
Due: mypy-question-service

[P6-010] Update arbiter configuration with research-backed rationales and benchmark data
  question-service/config/arbiters.yaml
Due: none

[P6-010] Update PLAN.md - mark P6-010 complete
  PLAN.md
Due: none

Feature/p6 010 arbiter benchmarks (#68)
  PLAN.md
  question-service/config/arbiters.yaml
  question-service/docs/ARBITER_SELECTION.md
Due: none

[P6-012] Create standalone question generation script
  question-service/run_generation.py
Due: mypy-question-service

[P6-012] Add comprehensive scheduling documentation and cron wrapper
  question-service/docs/SCHEDULING.md
  question-service/scripts/run_cron.sh
Due: none

[P6-012] Update PLAN.md - mark P6-012 complete
  PLAN.md
Due: none

[P6-012] Fix MyPy type errors in run_generation.py
  question-service/run_generation.py
Due: mypy-question-service

[P6-013] Add comprehensive operations documentation
  question-service/OPERATIONS.md
  question-service/README.md
Due: none

[P7-001] Regenerate Xcode project to include AppDelegate
  ios/IQTracker.xcodeproj/project.pbxproj
Due: none

[P7-002] Add comprehensive tests for notification endpoints
  backend/tests/test_notifications.py
Due: mypy-backend

[P7-002] Update PLAN.md - mark P7-002 complete
  PLAN.md
Due: none

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
