Repository gioe/iq-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy src/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[P3-001] Fix iOS CI workflow to use generic simulator
  .github/workflows/ios-ci.yml
Due: none

[P3-001] Use generic iOS Simulator platform for CI build
  .github/workflows/ios-ci.yml
Due: none

[P3-002] Create comprehensive networking layer
  PLAN.md
  ios/.swiftformat
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/Services/API/MockAPIClient.swift
  ios/IQTracker/Services/API/NetworkLogger.swift
  ios/IQTracker/Services/API/NetworkMonitor.swift
  ios/IQTracker/Services/API/RequestInterceptor.swift
  ios/IQTracker/Services/API/RetryPolicy.swift
Due: swiftlint, swiftformat

[P3-002] Fix iOS CI build by removing destination specifier
  .github/workflows/ios-ci.yml
Due: none

[P3-003] Implement authentication service with Keychain storage
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/Services/Auth/AuthManager.swift
  ios/IQTracker/Services/Auth/AuthService.swift
  ios/IQTracker/Services/Auth/TokenRefreshInterceptor.swift
  ios/IQTracker/Services/Storage/KeychainStorage.swift
Due: swiftlint, swiftformat

[P3-004] Build Welcome/Login screen
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/ViewModels/LoginViewModel.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
Due: swiftlint, swiftformat

Add explicit shared scheme configuration for CI
  ios/IQTracker.xcodeproj/xcshareddata/xcschemes/IQTracker.xcscheme
  ios/project.yml
Due: none

[P3-004] Build Welcome/Login screen (#31)
  .github/workflows/ios-ci.yml
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker.xcodeproj/xcshareddata/xcschemes/IQTracker.xcscheme
  ios/IQTracker/ViewModels/LoginViewModel.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
  ios/project.yml
Due: swiftlint, swiftformat

[P3-005] Build Registration screen (#32)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/ViewModels/RegistrationViewModel.swift
  ios/IQTracker/Views/Auth/RegistrationView.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
Due: swiftlint, swiftformat

[P3-009/P3-010] Implement logout and comprehensive error handling
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Auth/RegistrationView.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
  ios/IQTracker/Views/Common/ErrorBanner.swift
  ios/IQTracker/Views/Common/LoadingOverlay.swift
  ios/IQTracker/Views/Common/NetworkStatusBanner.swift
  ios/IQTracker/Views/Common/RootView.swift
  ios/IQTracker/Views/Settings/SettingsView.swift
Due: swiftlint, swiftformat

Fix CI: use -sdk instead of -destination for build
  .github/workflows/ios-ci.yml
Due: none

[P3-009/P3-010] Implement logout and comprehensive error handling (#34)
  .github/workflows/ios-ci.yml
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Auth/RegistrationView.swift
  ios/IQTracker/Views/Auth/WelcomeView.swift
  ios/IQTracker/Views/Common/ErrorBanner.swift
  ios/IQTracker/Views/Common/LoadingOverlay.swift
  ios/IQTracker/Views/Common/NetworkStatusBanner.swift
  ios/IQTracker/Views/Common/RootView.swift
  ios/IQTracker/Views/Settings/SettingsView.swift
Due: swiftlint, swiftformat

[P4-002] Implement question fetching from API
  PLAN.md
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[P4-002] Implement question fetching from API (#37)
  PLAN.md
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

Fix iOS CI workflow destination parameter
  .github/workflows/ios-ci.yml
Due: none

Fix iOS CI: Remove -sdk flag and add simulator listing
  .github/workflows/ios-ci.yml
Due: none

Update Xcode version to 16.1 in CI workflow
  .github/workflows/ios-ci.yml
Due: none

Remove -sdk flag from CI build command
  .github/workflows/ios-ci.yml
Due: none

[P4-003] Build answer input components (multiple formats) (#38)
  .github/workflows/ios-ci.yml
  PLAN.md
  ios/IQTracker/Views/Test/AnswerInputView.swift
Due: swiftlint, swiftformat

[P4-004] Create progress indicators for test-taking
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Test/QuestionNavigationGrid.swift
  ios/IQTracker/Views/Test/TestProgressView.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

P4 003/answer input components (#39)
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/Test/QuestionNavigationGrid.swift
  ios/IQTracker/Views/Test/TestProgressView.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[P4-006] Implement local answer storage during test
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/SavedTestProgress.swift
  ios/IQTracker/Services/Storage/LocalAnswerStorage.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[P4-006] Implement local answer storage during test (#41)
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/SavedTestProgress.swift
  ios/IQTracker/Services/Storage/LocalAnswerStorage.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

Fix SwiftFormat blankLinesAroundMark error in QuestionNavigationGrid
  ios/IQTracker/Views/Test/QuestionNavigationGrid.swift
Due: swiftlint, swiftformat

[P4-007] Build test submission logic
  PLAN.md
  ios/IQTracker/Models/TestSession.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[P4-008] Create results screen (immediate feedback)
  PLAN.md
  ios/IQTracker/Views/Test/TestResultsView.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

Add comprehensive documentation for all public APIs
  ios/IQTracker/Models/APIError.swift
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/ViewModels/BaseViewModel.swift
Due: swiftlint, swiftformat

[P4-010] Implement test abandonment handling
  PLAN.md
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_sessions.py
  ios/IQTracker/Models/TestSession.swift
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
Due: mypy-backend, swiftlint, swiftformat

Fix linting violations across backend and iOS
  backend/tests/test_test_sessions.py
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/ViewModels/TestTakingViewModel+MockData.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTrackerTests/ViewModels/RegistrationViewModelTests.swift
  ios/IQTrackerTests/ViewModels/RegistrationViewModelValidationTests.swift
Due: mypy-backend, swiftlint, swiftformat

[P4-010] Implement test abandonment handling (#46)
  PLAN.md
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_sessions.py
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/TestSession.swift
  ios/IQTracker/Services/API/APIClient.swift
  ios/IQTracker/ViewModels/TestTakingViewModel+MockData.swift
  ios/IQTracker/ViewModels/TestTakingViewModel.swift
  ios/IQTracker/Views/Test/TestTakingView.swift
  ios/IQTrackerTests/ViewModels/RegistrationViewModelTests.swift
  ios/IQTrackerTests/ViewModels/RegistrationViewModelValidationTests.swift
Due: mypy-backend, swiftlint, swiftformat

Complete P4-011: User testing and UX refinement
  PLAN.md
Due: none

Complete P5-001: Build test history view
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Models/APIError.swift
  ios/IQTracker/Models/TestResult.swift
  ios/IQTracker/Models/TestSession.swift
  ios/IQTracker/ViewModels/HistoryViewModel.swift
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/TestHistoryListItem.swift
Due: swiftlint, swiftformat

[P5-002] Implement trend visualization with Swift Charts
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/IQTrendChart.swift
Due: swiftlint, swiftformat

[P5-002] Implement trend visualization with Swift Charts (#49)
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/IQTrendChart.swift
Due: swiftlint, swiftformat

added Claude.md file
  CLAUDE.md
  P4-009-CHANGES.md
Due: none

P5 002/trend visualization (#50)
  CLAUDE.md
  P4-009-CHANGES.md
Due: none

[P5-003] Refactor TestDetailView to fix SwiftLint violations
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/History/TestDetailView+Helpers.swift
  ios/IQTracker/Views/History/TestDetailView.swift
Due: swiftlint, swiftformat

[P5-003] Create detailed result view for past tests (#51)
  PLAN.md
  ios/IQTracker.xcodeproj/project.pbxproj
  ios/IQTracker/Views/History/HistoryView.swift
  ios/IQTracker/Views/History/TestDetailView+Helpers.swift
  ios/IQTracker/Views/History/TestDetailView.swift
Due: swiftlint, swiftformat

[P5-004] Update PLAN.md to mark task as complete
  PLAN.md
Due: none

[P5-004] Add date filtering and sorting to History view (#52)
  PLAN.md
  ios/IQTracker/ViewModels/HistoryViewModel.swift
  ios/IQTracker/Views/History/HistoryView.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
